@{
    Layout = "~/Views/CSS3MediaQueries/_MediaQueriesLayout.cshtml";
}
<h2 id="one">Ukrywanie tresci</h2>
<h2 id="two">dla</h2>
<h2 id="three">urzadzen mobilnych</h2>
<h2 id="four">to</h2>
<h2 id="five">kiepski pomysl ;)</h2>
