<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8" />
        <title>Responsive</title> 
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Reset", "~/Content/Responsive")
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    </head> 
<body>
 @RenderBody() 
</body>